Detail

<ul>
    <li>Title: <%= movies.Title%></li>
    <li>Year: <%= movies.Year%></li>
    <li>Rated: <%= movies.Rated%></li>
    <li>Released: <%= movies.Released%></li>
    <li>Runtime: <%= movies.Runtime%></li>
    <li>Genre: <%= movies.Genre%></li>
    <li>Director: <%= movies.Director%></li>
    <li>Actors: <%= movies.Actors%></li>
    <img src="<%=movies.Poster%> " alt="">
</ul>