
        <h1>The results are in!</h1>
        
        <link rel="stylesheet" href="/styleMovie.css">
        
        <% let num = Math.floor(Math.random() * movies.length); %> 
        <% let img =  "https://image.tmdb.org/t/p/original" + movies[num].poster_path%>
        
        
        <div class="outline">
            <div class="imgCenter" id="title">
                <h2><%= movies[num].title %> </h2>
            </div>
            <div class="imgCenter">
                <%= 'Release Date ' + movies[num].release_date %> 
            </div>
            <div class="imgCenter">
                <img src= <%= img%> alt="Movie Image" class= "movieImg">
            </div>
            <div class="imgCenter">
                <button type="button" onClick="window.location.reload();">Search Again!</button>
                <form action="/history" method="POST">
                    <input type="hidden" value="<%= movies[num].title %>" name="title">
                    <input type="hidden" value="<%= movies[num].poster_path %>" name="poster">
                    <input type="submit" value="Add to watch history">
                </form>
            </div>
        </div>


